<footer>
        <div class="row">
                <section class="col">
                    Firt Column
                </section>
                <section class="col">
                    Second Column
                </section>
                <section class="col">
                    Third Column
                </section>
        </div>
</footer>