{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit SubCategory</h1>
        
        {{ include('sub_category/_form.html.twig', {'button_label': 'Update'}) }}
        <br>
        
        {{ include('sub_category/_delete_form.html.twig') }}
        <br>
        <a href="{{ path('app_sub_category_index') }}" class="btn btn-outline-info">back to list</a>
    </div>
{% endblock %}
