{% extends 'base.html.twig' %}

{% block title %}New Sub Category{% endblock %}

{% block body %}
   <div class="container">
        
        <h1>Create new Sub Category</h1>
        
        {{ include('sub_category/_form.html.twig') }}
       
        <a href="{{ path('app_sub_category_index') }}" class="btn btn-outline-info">back to list</a>
    </div>
{% endblock %}
